* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: #94a3b8;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero span {
    color: #38bdf8;
}

.hero button {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    cursor: pointer;
}

section {
    padding: 80px 60px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #020617;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
.publication {
    background: #020617;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
}

.publication h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.publication p {
    color: #cbd5f5;
    margin-bottom: 10px;
    line-height: 1.6;
}

.paper-btn {
    display: inline-block;
    padding: 8px 15px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
}

.paper-btn:hover {
    background: #0ea5e9;
}

